.filelist {
  width: 980px;
  color: #333;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.filelist-item {
  padding: 5px;
  display: flex;

}

.file-icon {
  display: inline-block;
  width: 17px;
  margin-right: 5px;
}

.file-name {
}

.commit-message {
  max-width: 442px;
  overflow: hidden;
}
